body{
    background-color: #EFEFEF;
    color: #000000;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin:0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.topNavBar{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    z-index: 1;
    background: #000000;
    transition: all 1s;
    color: #b7b7b7;
}
.topNavBar>.logo{
    float: left;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom:4px;
    padding: 10px 16px;
}
.topNavBar>.logo .rs{
    color: #E6686A;
}
.topNavBar>.logo .card{
    color: #9A9DA2;
    margin-left:4px;
}
.topNavBar>nav{
    float: right;
    padding-top:5px;
    padding-bottom:5px;
    padding: 10px 16px;
}
.topNavBar>nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar>nav li{
    float: left;  
    position: relative;
}
.topNavBar>nav a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    display: block;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar>nav>ul>li.active>a::after,
.topNavBar>nav>ul>li.highlight>a::after{
    content: "";
    display: block;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    background: #E6686A;
    height:3px;
    animation:menuSlide 0.3s;
    
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar.sticky{
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0,0.25);
    color: #3d4451;

}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right:0;
    top: 100%;
    margin-left: 17px;
    margin-right: 17px;
    background: #ffffff;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.topNavBar li.active>.submenu{
    display: block;
    animation:submenu 0.3s;
}
@keyframes submenu{
    0%{
       margin-right: 100%;
    }
    100%{
       margin-right: 0%;
    }
}
.topNavBar .submenu>li{
    white-space: nowrap;
    padding: 5px 10px;
}
.banner{
    background-image: url("../images/bg-img.jpg");
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner>.mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.userCard .welcome{
    background:#E6686A;
    color: #ffffff;
    display: inline-block;
    padding:4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;

}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    border-left-color: #E6686A;
    border-top-width: 0;
    width: 0;
    position: absolute;
    top:100%;
    left: 4px;

}
.userCard .picture{
    float: left;
}
.userCard .profile{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndProfile{
    padding:50px;
}

.userCard .profile h1{
    margin-top: 18px;
    font-weight: normal;
}

.userCard .profile hr{
    height: 0;
    border: 0;
    border-top: 1px solid #DEDEDE;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userCard .profile dd,
.userCard .profile dt{
    float: left;
    padding: 5px 0;
}
.userCard .profile dd{
   width: 70%;
   color: #9DA0a7;
}
.userCard .profile dt{
    width: 30%;
    font-weight: bold;
}
.userCard>footer.media{
    background-color: #E6686A;
    text-align: center;

}
.userCard>footer.media a{
    padding: 5px 0;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    margin: 16px;
}
.userCard>footer.media a:hover{
    background-color: #CF5D5F;
}
.userCard>footer svg{
    width: 30px;
    height: 30px;
    fill: #ffffff;
    vertical-align: top;
}
main{
    margin-top: -340px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
}
#downLoadWrapper{
    text-align: center;
    margin: 30px 0 35px 0;
}
#downLoadBtn{
    text-decoration: none;
    font-size: 14px;
    color:  rgb(61, 68, 81);
    font-weight: bold;
    display: inline-block;
    line-height: 16px;
    border: 1px solid rgb(205, 207, 209);
    border-radius: 2px;
    padding: 20px 60px;
    transition: box-shadow 0.2s;
}
#downLoadBtn:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
#selfIntroduction{
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
}
#skillsWrapper>h2{
    margin: 60px 0 30px 0;
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
#skillsWrapper ul{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
}
#skillsWrapper li{
    box-sizing: border-box;
    width: 48%;
    float: left;
    list-style-type: none;
}
#skillsWrapper.offset .progress{
    transform: translateX(-100%);

}
#skillsWrapper .progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;

}
#skillsWrapper .progress{
    transform: translateX(0);
    transition: all 0.5s;
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
    
}
#skillsWrapper li:nth-child(even){
    float: right;
    margin-left:2px;

}
#skillsWrapper li:nth-child(odd){
    margin-right:2px;
}
#portfolioWrapper{
    text-align: center;
}
#portfolioWrapper>h2{
    margin: 60px 0 30px 0;
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
#portfolioWrapper>nav{
    display: inline-block;
}
#portfolioWrapper>nav>ul{
    margin: 0 auto;
    display: inline-block;
}
#portfolio1,#portfolio2,#portfolio3{
    float: left;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px 0 20px;
}
#portfolioWrapper>nav>div{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 28px;
    border-radius: 2px;
}
#portfolioBar{
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
#portfolioWrapper .state1{
    margin-left: 0;
    width: 72px;
}
#portfolioWrapper .state2{
    margin-left:72px;
    width:72px;
}
#portfolioWrapper .state3{
    margin-left:144px;
    width: 120px;
}
#portfolioWrapper>.works{
    position: relative;
    height: 597px;
}

#portfolioWrapper .pic1_state1{
   position: absolute;
   top:0;
   left:0;
}
#portfolioWrapper .pic2_state1{
    position: absolute;
    top:0;
    right:0;
 }
 #portfolioWrapper .pic3_state1{
    position: absolute;
    bottom:0;
    right:0;
 }
#portfolioWrapper .pic1_state2{
    display: none;
 }
#portfolioWrapper .pic2_state2{
    position: absolute;
    top:0;
    left:0;
}
#portfolioWrapper .pic3_state2{
    position: absolute;
    top:0;
    left:303px;
}
#portfolioWrapper .pic1_state3{
    position: absolute;
    top:0;
    left:0;
 }
#portfolioWrapper .pic2_state3,
#portfolioWrapper .pic3_state3{
    display: none;
}



 


